{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block css %}
<link rel='stylesheet' type="text/css" href='{% static 'index.css' %}'>
{% endblock css %}

{% block content %}
<h1>Welcome</h1>
<h2>please chose an option for continue</h2>
<form method='post'>
    {% csrf_token %}
    <button class='login' name='login' type='submit' value='login'>Login</button>
    <br>
    <button class='signin' name='signin' type='submit' value='signin'>Singin</button
    ></form>
{% endblock content %}